@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
   
}
section{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid rgba(0, 0, 0, 0.589);
    border-radius: 20px;
    box-shadow: 15px 15px 0 black;
    
}

.ilustration{
    border-radius: 10px;
}

.info{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}

button{
    border: none;
    background-color: hsl(47, 88%, 63%);
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: 800;
    margin-top: 25px;
    cursor: pointer;
   
}
.data{
    font-size: 14px;
    font-weight: 500;
}

h1{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.languages{
    font-size: 14px;
    font-weight: 500;
    opacity: 70%;
}

.avatar-surname{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
}
.avatar-img{
    width: 30px;
}

.name{
    font-weight: 800;
    font-size: 14px;
}